@import "tailwindcss";

.font-nexon {
  font-family: var(--font-nexon), sans-serif;
}

.font-pretendard {
  font-family: var(--font-pretendard), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #ff7b00;
  --color-foreground-strong: #09090b;
}

@theme {
  --color-primary: #ff7b00;
  --color-foreground-strong: #09090b;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.dotted-bg-simple {
  /* background-image: linear-gradient(to bottom, black, #0a0a1a, #0f0c3d),
    url("/images/HeroBackground1.png"); */
  background-image: linear-gradient(
      to bottom,
      #000 0%,
      rgba(65, 65, 149, 0) 70%
    ),
    url("/images/HeroBackground1.png");

  /* background-image: url("/images/HeroBackground1.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.no-scroll {
  overflow: hidden;
}
/* Responsive font sizing */
/* @media (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1919px) and (min-width: 1680px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1679px) and (min-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1439px) and (min-width: 1280px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1279px) {
  html {
    font-size: 11px;
  }
} */
html {
  font-size: clamp(45%, calc(45% + (10 * (100vw - 320px) / (624 - 320))), 100%);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 1.625rem));
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  display: flex;
  width: max-content;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
