@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #ff7b00;
  --color-foreground-strong: #09090b;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Pretendard";
  src: url("/assets/Fonts/Pretendard-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/Fonts/Pretendard-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/Fonts/Pretendard-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/Fonts/Pretendard-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/Fonts/Pretendard-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/Fonts/Pretendard-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/Fonts/Pretendard-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/Fonts/Pretendard-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/Fonts/Pretendard-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.dotted-bg-simple {
  background-image: url("/images/HeroBackground1.png");
  background-size: cover; /* Makes the image cover the whole area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}

/* for responsive design */

/* ≥ 1920px (Full HD / 1080p, 2K, etc.) */
@media (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

/* 1680px wide (1680×1050) */
@media (max-width: 1919px) and (min-width: 1680px) {
  html {
    font-size: 16px;
  }
}

/* 1440px wide (1440×900, common MacBook Pro, laptops) */
@media (max-width: 1679px) and (min-width: 1440px) {
  html {
    font-size: 14px;
  }
}

/* 1366px wide (1366×768, very common laptops) */
@media (max-width: 1439px) and (min-width: 1280px) {
  html {
    font-size: 13px;
  }
}

/* Smaller laptops / tablets (1024–1279px) */
@media (max-width: 1279px) {
  html {
    font-size: 10px;
  }
}
